<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Starter Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet" data-pg-id="4689">
        <!-- Custom styles for this template -->
        <link href="{{url_for('static', filename='css/starter-template.css')}}" rel="stylesheet" data-pg-id="4690">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Hashcolor</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h1 class="text-center" style="display: block;">Hashcolor</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='img/hash.png')}}" class="img-responsive" data-pg-id="4718">
                </div>
                <div class="col-md-4">
                    <p class="lead text-center">Привет{% if login %}, {{login}}{% endif %}!
                        Наверное, у тебя есть друзья, которые тоже любят цвета и флаги?</p>
                    <p class="lead text-center">Пригласи их на сайт!&nbsp;</p>
                    <p class="lead text-center">Четвертый друг, которого ты пригласишь, получит флаг.</p>
                </div>
                <div class="col-md-4">
                    {% if login %}
                    <h2 style="display: block;">Осталось {{count}} инвайтов</h2>
                    <a class="btn btn-success" data-html="false" href="/image/">Получить инвайт</a>
                    {% else %}
                    <a class="btn btn-success" data-html="false" href="/registration/">Регистрация</a>
                    <a class="btn btn-success" data-html="false" href="/login/">Вход</a>
                    {% endif %}
                </div>
            </div>
            {% if flag %}
            <div class="row">
                <div class="col-md-4">
                    <p>{{flag}}</p>
                </div>
            </div>
            {% endif %}
            <div class="container"></div>
            <div class="starter-template">
</div>
        </div>
        <!-- /.container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{url_for('static', filename='js/jquery.js')}}" data-pg-id="4714"></script>
        <script src="{{url_for('static', filename='js/bootstrap.js')}}" data-pg-id="4715"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{url_for('static', filename='js/ie10-viewport-bug-workaround.js')}}" data-pg-id="4716"></script>


</body></html>
