{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
      <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        <h1>Ошибка!</h1>
        <p>Что-то пошло не так, но я не скажу что. Разберись сам, или обратись за божьей помощью.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('profile', person='БОГ') }}" role="button">К БОГУ &raquo;</a></p>
      </div>
</div>


    <div class="container">
      <footer>
        <p>&copy; Игорян Corp. Все права надежно зашифрованы случайным ключом случайной длины случайное число раз.</p>
      </footer>
    </div> <!-- /container -->

{% endblock %}