<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        {% if session['flag'] %}
            <p>{{ session['flag'] }}</p>
        {% else %}
            <p>Log in to see the flag</p>
        {% endif %}
        <form action="" method="post" name="loginForm">
            Login: <br/>
            <input type="text" name="login"> <br/>
            Password: <br/>
            <input type="text" name="password"> <br/>
            <input type="submit" value="Log in"> <br/>
        </form>
        <a href="{{ url_for('reg_get') }}">Registration</a>
    </body>
</html>